* {
  /* border: 1px solid #fff; */
}

body {
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  letter-spacing: 0%;
  text-align: left;

  background: #222831;
}

h1, h2 {
  line-height: 6rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}




.button {
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.69rem;
  letter-spacing: 0%;
  text-align: center;

  background: rgba(57, 62, 70, 0.75);
  border-radius: 1.5rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5rem;
  padding: 0.63rem 2rem 0.63rem 2rem;
}

.colored-button {
  background: #00adb5;
}

.colored-text {
  color: #00adb5;
}




.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.head__logo-cont {
  width: 18.81rem;
  height: 6rem;
}

.head__logo {
  padding: 1.88rem 6rem 1.88rem 6rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.head__links-cont {
  padding: 1.88rem 6rem 1.88rem 6rem;
  text-align: center;
}

.head__link {
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.69rem;
  display: inline-block;
  margin: 0 1rem;
}




.home {
  display: flex;
}

.home__cont {
  padding: 8.16rem 0 0 6rem;
}

.home__title {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.home__buttons-cont {
  margin-top: 3rem;
}

.home__button-hire {
  margin-right: 1.5rem;
}

.home__image {
  padding: 5.85rem 6rem 0 0;
}




.about {
  display: flex;
  /* justify-content: space-between; */
}

.about__cont {
  padding-top: 7.94rem;
  padding-left: 6rem;
  width: 31rem;
  margin-right: 12.13em;
}

.about__title {}

.about__text {
  color: rgba(238, 238, 238, 0.75);
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.69rem;
}

.about__image {
  padding: 7.25rem 0 0 0;
}




.projects {
  background-image: url(../img/projects_bg.svg);
}

.projects__cont {
  padding: 9.125rem 0 0 6rem;
}

.projects__buttons-cont {
  margin-top: 1.5rem;
}

.projects__button {
  margin-right: 1rem;
}

.projects__images-cont {
  margin-top: 3rem;
  display: flex;
}

.projects__image {
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  backdrop-filter: blur(0.25rem);
  background: rgba(57, 62, 70, 0.5);
  width: 24.13rem;
  height: 17.5rem;
  padding: 50px 80px;
  margin-right: 3rem;
}