body {
  background: #222831;
}


.head {
  border: 2px solid #fff;
  display: flex;
  justify-content: space-between;
}

.head__logo-cont {
  border: 1px solid #fff;
  width: 18.81rem;
  height: 6rem;
}

.head__logo {
  padding: 1.88rem 6rem 1.88rem 6rem;
  color: #eeeeee;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
}

.head__links-cont {
  border: 1px solid #fff;
  padding: 1.88rem 6rem 1.88rem 6rem;
  text-align: center;
}

.head__link {
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 1.69rem;
  display: inline-block;
  margin: 0 1rem;
}

